---
import Navbar from "../components/Navbar.astro";
import '../styles/global.css'
import { ViewTransitions } from "astro:transitions";
interface Props{
	title:string;
}
const {title} = Astro.props
---
<html lang="es">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<Navbar/>
		<aside transition:name="hero">
            <h2>Bienvenido a mi sitio web</h2>
            <p>Este es un mensaje importante que aparece con una transición.</p>
        </aside>
    <slot/>
</body>
</html>
